<% include ../header.ejs %>
<% include ../indexAsideBar.ejs %>
<link rel="stylesheet" type="text/css" href="<%=staticUrl %>style/market/index.css" />
<div class="column-right clearfix">
    <a href="" class="banner-main">
    <img src="<%=staticUrl %>media/market/2013/9/banner.jpg" >
    </a>
    <div class="good-list-wrapper clearfix">
        <div class="menu-box-r">
            <span class="choose-local">选择本校</span>
            <span class="choose-all">所有学校</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
        <div class="good-wrapper">
            <div class="good-img">
                <a href="#">
                <img src="<%=staticUrl %>media/market/2013/9/1.png" alt="lalala" />
                </a>
            </div>
            <div class="detail-box">
                <a href="#" class="gname">大美女一个免费！</a>
                <p class="guser">来自于:kevin14</p>
            </div>
            <span class="gtime">2012-1-1 19点</span>
        </div>
    </div>
</div>
</div>
<% include ../footer.ejs %>