<% include ../header.ejs %>
<% include ../indexAsideBar.ejs %>
<link rel="stylesheet" type="text/css" href="<%=staticUrl %>style/market/index.css" />
<div class="column-right clearfix">
    <a href="" class="banner-main">
    <img src="<%=staticUrl %>media/market/2013/9/banner.jpg" >
    </a>
    <div class="good-list-wrapper clearfix">
        <div class="menu-box-r">
            <span class="choose-local">选择本校</span>
            <span class="choose-all curr">所有学校</span>
        </div>
         <% for(var i = 0;i<goodList.length;i++){ %>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="market/good?gid=<%=goodList[i].id%>">
                        <img src="<%=staticUrl+goodList[i].gpic_url%>" alt="<%=goodList[i].gname%>" title="<%=goodList[i].gname%>" />
                    </a>
                </div>
                <div class="detail-box">
                    <div class="detail-line">
                        <a href="<%=staticUrl+goodList[i].gpic_url %>" class="gname"><%=goodList[i].gname%></a>
                        <!-- <a class="gclassify"><%=goodList[i].classify%></a>暂且不放分类信息 -->
                        <a href="<%=staticUrl%>"><%=goodList[i].place%></a>
                    </div>
                    <div class="detail-line">
                        <span class="gtime"><%=goodList[i].ctime %></span>
                        <span class="g_browser_num"><i></i><%=goodList[i].browser_num%></span>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
</div>
</div>
<% include ../footer.ejs %>