<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="<%=staticUrl %>style/base.css" />
    <link rel="stylesheet" type="text/css" href="<%=staticUrl %>style/ui.css" />
    <script type="text/javascript" src="<%=staticUrl %>scripts/jquery.min.js" ></script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn-navbar"> 
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="http://www.campuscool.cn"><img src="<%=staticUrl %>images/logo.png"></a>
            <div class="nav-wrapper">
                <ul class="nav">
                    <li class="active nav-ele"><a href="#" class="nav-ele-link highlight font-big">跳蚤市场</a></li>
                    <li class="nav-ele"><a href="#" class="nav-ele-link highlight font-small">华东理工大学</a></li>
                    <li class="nav-ele"><a class="nav-ele-link change-school font-small">[切换学校]</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="nav-ele dropdown">
                        <a class="dropdown-btn userAvatar" href="#">
                            <img src="<%=staticUrl %>media/market/2013/9/1.png" >
                            <span class="username">杨靖14</span>
                        </a>
                        <div class="user-info-box dropdown-menu">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bodyer column-2 clearfix">
