<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="<%=staticUrl %>style/base.css" />
    <script type="text/javascript" src="<%=staticUrl %>scripts/jquery-1.10.2.min.js" ></script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn-navbar"> 
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">campuscool</a>
            <div class="nav-wrapper">
                <ul class="nav">
                    <li class="active nav-ele"><a href="#" class="nav-ele-link">跳蚤市场</a></li>
                    <li class="nav-ele"><a href="#" class="nav-ele-link">华东理工大学</a></li>
                    <li class="nav-ele"><a href="#" class="nav-ele-link">切换学校</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="nav-ele dropdown">
                        <a class="dropdown-btn" href="#">下拉</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">退出登录</a></li>
                            <li><a href="#">管理</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bodyer column-2 clearfix">


    <!-- <div class="top_bar">
        <div class="top_wrapper">
            <div class="school">
                <span>华东理工大学</span>
                <a>[切换学校]</a>
            </div>
            <a class="logo"></a>
        </div>
        <div class="person_info_area">
            <img class="avatar_small" src="http://localhost:3000/media/market/2013/8/avatar.jpg"/>
            <span class="messege">消息</span>
            <span id="info_username" class="messege"><%= username %></span>
            <a href="http://localhost:3000/user/log_out?oUrl=<%= oUrl %>">退出登陆</a>
            <div class="search">
                <form action="">
                    <input type="text"  placeholder="搜索" class="search_area"/>
                    <a class="search_icon"></a>
                </form>
            </div>
            <div class="settings">
                <div class="tiny_top"></div>
                <img src="http://localhost:3000/media/market/2013/8/avatar_big.jpg"/>
                <span class="settings_username">Roy_Feng</span>
                <span class="settings_usermail">455761123@qq.com</span>
                <a>账户设置</a>
                <a href="http://localhost:3000/user/log_out">退出登陆</a>
            </div>
        </div>
    </div>
    <div class="main clearfix"> -->